.cards-section {
  display: grid;
  align-items: center;
  grid-gap: var(--spacing-12);

  &:not(:last-child) {
    margin-bottom: var(--spacing-56);
  }

  &.cards-on-the-left {
    grid-template-columns: 2fr 1fr;

    .text-content {
      order: 1;
    }
  }

  &.cards-on-the-right {
    grid-template-columns: 1fr 2fr;
  }

  &.cards-full-width {
    grid-template-columns: 1fr;
  }

  @media (max-width: 64rem) {
    &.cards-on-the-left,
    &.cards-on-the-right {
      grid-template-columns: 1fr;
    }

    &.cards-on-the-left {
      .text-content {
        order: 0;
      }
    }
  }
}

.text-content {
  font-size: var(--fontSize-3);

  > h3 {
    font-size: var(--fontSize-6);
    margin: var(--spacing-0);
  }

  > h3 + .description {
    margin-top: var(--spacing-4);
  }
}
