.columns-with-buttons {
  display: flex;

  &:not(:last-child) {
    margin-bottom: var(--spacing-12);
  }

  .column {
    flex-grow: 1;
    flex-basis: 0;

    &:not(:last-child) {
      margin-right: var(--spacing-8);
      margin-bottom: var(--spacing-12);
    }
  }

  @media (max-width: 64rem) {
    flex-direction: column;
  }
}
.content {
  > p:last-child {
    margin-bottom: var(--spacing-0);
  }

  & + a {
    margin-top: var(--spacing-5);
  }
}
