footer {
  background-color: transparentize(#919fba, 0.9);
  display: flex;
  flex-direction: column;

  .footerSection {
    padding-top: var(--spacing-0);
    padding-bottom: var(--spacing-0);
  }

  .links-section {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: var(--spacing-12) var(--spacing-0);
  }

  .links-list {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
  }

  .copywrite-section {
    border-top: 1px solid var(--color-accent);
    text-align: center;
    padding: var(--spacing-4) var(--spacing-0);
  }
}
