.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--spacing-8);

  &.oneColumn {
    grid-template-columns: 1fr;
  }

  &.twoColumns {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 64rem) {
    grid-template-columns: 1fr;

    &.twoColumns {
      grid-template-columns: 1fr;
    }
  }
}
