.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(372px, 1fr));
  grid-gap: var(--spacing-10);

  > div:first-child {
    grid-column: span 2;
  }

  @media (max-width: 42rem) {
    grid-template-columns: 1fr;

    > div:first-child {
      grid-column: span 1;
    }
  }
}
