.side-by-side {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: var(--spacing-8);

  @media (max-width: 42rem) {
    grid-template-columns: 1fr;
  }

  .header-section {
    position: relative;
  }

  .content-section {
    margin-top: var(--spacing-1);

    h3:first-of-type {
      margin-top: 0;
    }
  }

  h2 {
    margin: 0;
    position: sticky;
    top: var(--spacing-32);
  }

  &:not(.wide) {
    .content-section {
      max-width: var(--maxWidth-2xl);
    }
  }
}
