.arrowed-link {
  display: flex;
  font-size: var(--fontSize-2);
  justify-content: center;

  svg {
    margin-top: 5px;
  }

  &.forward,
  &.backward {
    svg {
      transition: transform 0.2s;
    }
  }

  &.forward svg {
    margin-left: var(--spacing-1);
  }

  &.backward svg {
    margin-right: var(--spacing-1);
  }

  &:hover {
    &.forward {
      svg {
        transform: translateX(var(--spacing-1));
      }
    }
    &.backward {
      svg {
        transform: translateX(calc(var(--spacing-1) * -1));
      }
    }
  }
}
