.tagsSection {
  padding-top: var(--spacing-0);
  padding-bottom: var(--spacing-0);
}

.tags {
  ul {
    list-style: none;
    display: flex;
    margin: var(--spacing-0);
    flex-wrap: wrap;
  }

  li {
    margin-right: var(--spacing-6);
    margin-top: var(--spacing-8);
    margin-bottom: var(--spacing-8);
    font-size: var(--fontSize-3);

    font-family: var(--font-heading);
    line-height: var(--lineHeight-tight);
    letter-spacing: -0.02em;
    font-weight: var(--fontWeight-bold);
  }

  @media (max-width: 48rem) {
    ul {
      flex-direction: column;
      margin-top: var(--spacing-8);
    }

    li {
      margin-top: var(--spacing-0);
      margin-bottom: var(--spacing-6);
    }
  }
}
