.menu-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--spacing-16);
}

.menu-desktop-items-container {
  display: flex;
  align-items: center;

  > a {
    padding: var(--spacing-2) var(--spacing-4);
    text-decoration: none;
  }

  @media (max-width: 64rem) {
    display: none;
  }
}

.logo-container {
  .logo-small {
    display: none;
  }

  @media (max-width: 64rem) {
    .logo-large {
      display: none;
    }

    .logo-small {
      display: block;
    }
  }
}

.open-button {
  display: none;

  @media (max-width: 64rem) {
    display: block;
  }
}

.closeButton,
.open-button {
  padding: var(--spacing-2) var(--spacing-4);
  cursor: pointer;
}

.closeButton {
  color: var(--color-si-light-blue);
}

.menu-mobile {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: var(--color-primary);
  overflow-x: hidden;
  transition: height 0.3s var(--ease-out-quad);

  &.is-open {
    height: 100%;
  }

  a {
    color: var(--color-si-light-blue);
    font-size: var(--fontSize-4);
    padding: var(--spacing-2);
  }
}

.menuMobileContainer {
  width: 100%;
  height: 100%;
  max-width: var(--maxWidth-wide);
  padding: var(--spacing-10) var(--spacing-8);
  margin: 0 auto;
}

.menu-mobile-items-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.closeButtonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: var(--spacing-16);
}
