.all-pages {
  h1 {
    font-size: var(--fontSize-9);
    max-width: var(--maxWidth-4xl);
    margin: var(--spacing-0);
  }

  .subtitle {
    font-size: var(--fontSize-3);
    margin-bottom: var(--spacing-0);
    margin-top: var(--spacing-10);
    max-width: var(--maxWidth-4xl);
  }

  .header-links {
    margin-top: var(--spacing-5);
    text-align: right;
    color: var(--color-text-light);

    a {
      padding: 0 var(--spacing-2);

      &:last-child {
        padding-right: 0;
      }
    }
  }

  > header {
    background-color: transparentize(#bc962c, 0.9);
    display: flex;
  }

  @media (max-width: 42rem) {
    h1 {
      font-size: var(--fontSize-6);
    }

    .subtitle {
      font-size: var(--fontSize-2);
    }
  }

  .text-content {
    margin-top: var(--spacing-20);
  }
}

.homepage {
  > header {
    min-height: 100vh;
  }
}

.subpage {
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 100vh;

  > header {
    min-height: var(--height-header-small);
  }
}

.header-content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: var(--spacing-10);
}
