.si-form {
  input[type="text"],
  input[type="email"],
  textarea {
    display: flex;
    width: 100%;
    padding: var(--spacing-3);
    border: 1px solid var(--color-si-light-blue);
    border-radius: 0.2rem;
    box-shadow: none;

    &:focus {
      border: 1px solid var(--color-si-mustard);
      outline: none;
    }
  }

  label {
    margin-bottom: var(--spacing-2);
    display: block;
  }

  .intro {
    margin-bottom: var(--spacing-6);
  }

  .field-group {
    &:not(:last-child) {
      margin-bottom: var(--spacing-6);
    }
  }
}
