.social-links {
  display: flex;
  align-items: center;

  &.centered {
    justify-content: center;
  }

  &.wide {
    > a:not(:last-child) {
      margin-right: var(--spacing-8);
    }
  }

  &.topSpacing {
    margin-top: var(--spacing-2);
  }

  &.bottomSpacing {
    margin-bottom: var(--spacing-5);
  }

  > a {
    color: var(--color-si-light-blue);
  }

  > a:not(:last-child) {
    margin-right: var(--spacing-4);
  }
}
