.table-of-contents-section {
  padding-top: var(--spacing-0);
  padding-bottom: var(--spacing-0);

  &.one-line-section {
    padding-right: var(--spacing-0);
  }
}

.table-of-contents {
  ul {
    list-style: none;
    display: flex;
    margin: var(--spacing-0);
  }

  li {
    margin-right: var(--spacing-6);
    margin-top: var(--spacing-8);
    margin-bottom: var(--spacing-8);
    flex-shrink: 0;
    font-size: var(--fontSize-3);

    font-family: var(--font-heading);
    line-height: var(--lineHeight-tight);
    letter-spacing: -0.02em;
    font-weight: var(--fontWeight-bold);
  }

  &.one-line {
    position: relative;

    ul {
      overflow-x: auto;

      > li:last-child {
        padding-right: var(--spacing-20);
      }
    }

    &::after {
      content: " ";
      display: block;
      width: var(--spacing-20);
      height: 100%;
      box-shadow: inset calc(var(--spacing-20) * -1) 0 40px -35px #fff;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &.multiple-lines {
    ul {
      flex-wrap: wrap;
    }

    @media (max-width: 48rem) {
      ul {
        flex-direction: column;
        margin-top: var(--spacing-8);
      }

      li {
        margin-top: var(--spacing-0);
        margin-bottom: var(--spacing-6);
      }
    }
  }
}
