.members-group {
  margin-top: var(--spacing-16);

  &:first-child {
    margin-top: var(--spacing-0);
  }
}

.members-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--spacing-8);

  @media (max-width: 64rem) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.member {
  text-decoration: none;
  display: flex;
  align-items: center;

  > div:first-child {
    flex-shrink: 0;
    margin-right: var(--spacing-3);
  }

  img {
    border-radius: 50%;
  }

  @media (max-width: 48rem) {
    flex-direction: column;
    text-align: center;
  }
}

.details {
  margin-top: var(--spacing-2);
}
