/* CSS Custom Properties Definitions */

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-wide: 90rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --height-header-small: 32rem;
  --height-header-full: 100vh;
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --spacing-40: 10rem;
  --spacing-48: 12rem;
  --spacing-56: 14rem;
  --fontFamily-sans: "Mulish", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamily-serif: "Mulish", "Georgia", Cambria, "Times New Roman", Times,
    serif;
  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  /* see https://type-scale.com/ */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-1-lg: 1.125rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --fontSize-8: 3.583rem;
  --fontSize-9: 4.3rem;

  /* colors */
  --color-si-blue: #131629;
  --color-si-mustard: #bc962c;
  --color-si-light-blue: #919fba;

  --color-primary: var(--color-si-blue);
  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: var(--color-si-blue);
  --color-accent: #d1dce5;

  /* animations */
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1-lg);
  color: var(--color-text);
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.02em;
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-6);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

main {
  position: relative;
}

/* Link */

a {
  color: var(--color-primary);

  &.golden {
    color: var(--color-heading);
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: var(--color-si-mustard);
    }
  }

  &.backLink {
    svg {
      transition: transform 0.2s;
    }
    position: absolute;
    left: var(--spacing-8);
    top: var(--spacing-8);

    &:hover {
      svg {
        transform: translateX(calc(var(--spacing-1) * -1));
      }
    }
  }
}

a:hover,
a:focus {
  text-decoration: none;
}

.si-button {
  padding: var(--spacing-4) var(--spacing-8);
  background-color: var(--color-primary);
  color: white;
  border-radius: 2rem;
  text-decoration: none;
  display: inline-flex;
  flex-shrink: 0;
  transition: all 0.2s;
  border: none;
  cursor: pointer;

  &:hover {
    color: var(--color-primary);
    background-color: var(--color-si-mustard);
  }
}

/* Custom classes */

.global-content-wrapper {
  max-width: var(--maxWidth-wide);
  width: 100%;
  margin: 0 auto;
  padding: var(--spacing-32) var(--spacing-8);

  &.narrow {
    max-width: var(--maxWidth-3xl);
  }
}

.blog-post-nav ul {
  margin: var(--spacing-0);
}

.blog-posts-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: var(--spacing-32);

  @media (max-width: 64rem) {
    grid-template-columns: 1fr;
  }
}

h2.secondary-heading {
  font-size: var(--fontSize-7);
  margin-bottom: var(--spacing-20);
  margin-top: var(--spacing-0);
}

.footnotes {
  li {
    p {
      display: inline;
    }
  }
}

.header-background {
  a.golden {
    color: white;

    &:hover {
      color: var(--color-si-mustard);
    }
  }
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
}
